<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ListApp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ListApp</title>
</head>
<body>
    <header>
        <h1>ListApp</h1>
    </header>
    <section class="enter-list">
    <h2>Find List </h2>
    <form action="/getList"  method="POST">
        <input type="text" placeholder="ENTER LIST ID" name="listID">
        <input type="submit" value="Find List">
    </form>

            <% if (listID) { %>
            <h2>ID: <span id="listID"><%= listID %></span></h2>
            <% } %>

    </section>

    <section class="new-list">
    <h2>Create new List</h2>
    <form action="/newList" method="POST">
        <input type="submit" placeholder="New List" value="Create">
    </form>
    </section>

    <section class="add-item">
    <h2>Add Item</h2>

        <div>
        <input id="itemName" type="text" placeholder="Item" name="itemName">
        <input id="author" type="text" placeholder="Author" name="author">
        <button type="button" onclick="whatDo()" id="addItem">Add</button>
        </div> 
    </section>

    <section class="list-section">
            <% if (listID) { %>
            <h1>List:</h1>
            <% } %>
    <ul class="list">
        <% for(let i=0; i<items.length; i++){%>
        <li class="item">
            <% if (items[i].done) { %>
            <span class="num-name done"><%=i+1%>. <%= items[i].itemName %></span>
            <span class="pre-author"> - </span>
            <span ><%= items[i].author %></span>
            <span class="fa fa-check"></span>
            <span class="fa fa-trash"></span>
            <%} else { %>
            <span class="num-name"><%=i+1%>. <%= items[i].itemName %></span>
            <span class="pre-author"> - </span>
            <span ><%= items[i].author %></span>
            <span class="fa fa-check"></span>
            <span class="fa fa-trash"></span>
            <% } %>
        </li>
       <% }%>
    </ul>
    </section>

    <script src='js/main.js'></script>
</body>
</html>
